<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AtlasBot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Atlas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">League of Legends
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Coaches", "Index", "Coach")</li>
                        <li>@Html.ActionLink("Looking For Group", "Yup")</li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Coaching
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("League of Mentoring", "Index", "Coach")</li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Servers
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Atlas Servers", "Index", "Coach")</li>
                        <li>@Html.ActionLink("Our Partners", "Yup")</li>
                        <li>@Html.ActionLink("Public Server Listing", "Yup")</li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Commands", "Index", "Coach")</li>
                        <li>@Html.ActionLink("Looking For Group", "Yup")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Get AtlasBot", "Yup")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container body-content">
    
    @RenderBody()
    <hr/>

    <footer>
        @if (!string.IsNullOrEmpty(ViewBag.Module))
        {
            <p>&copy; @DateTime.Now.Year - AtlasBot @ViewBag.Module Module</p>
        }
        else
        {
            <p>&copy; @DateTime.Now.Year - AtlasBot</p>
        }

    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
